@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;

  --color-grada-blue-100: #d2e0fe;
  --color-grada-blue-200: #a0bdfd;
  --color-grada-blue-300: #6d97f3;
  --color-grada-blue-400: #5585ef;
  --color-grada-blue-500: #3e74ea;
  --color-grada-blue-600: #2754b8;
  --color-grada-blue-700: #153987;
  --color-grada-blue-800: #0f2f76;
  --color-grada-blue-900: #082055;
  --color-grada-blue-950: #082055;

  --color-grada-green: #22c55e;
  --color-grada-red: #c52722;
}
